* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

:root {
    --light: whitesmoke;
    --text:'Times New Roman', Times, serif; 
    --dark: rgb(32, 31, 31);
    --flame: red;
}

header{
    display:flex;
    padding: 20px;
    font-family: var(--text);
    background-color: var(--dark);
    color: var(--light);
    justify-content: space-between;
    font-size: 40px;
}

header h1 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

#timer {
    display: none;
    font-size: 40px;
    color: var(--flame);
}


.hero {
    display:flex;
    height: 300px;
    width: 100%;
    background-image: url("./Images/Flames.jpg");
    background-size: cover;
    background-position: center;
}

#start {
    background: radial-gradient(var(--light)) 5%, var(--flame) 95%;
    border-radius: 4px;
    color: var(--flame);
    cursor: pointer;
    font-size: 40px;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.10s;
    transition-property: background-color;
    transition-timing-function: linear;
}

main {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--dark);
    height: 40em;
    width: 100%;
    align-items: center;
}

main h2 {
    margin-top: 30px;
    text-align: center;
    color: var(--light);
    margin-bottom: 32px;
    font-family: var(--text);
}

#instructions {
    display: block;
    font-size: 32px;
    font-family: var(--text);
    color: var(--flame);
    margin-bottom: 32px;
}

#highscore-form {
    display: flex; 
    align-items: center;
    justify-content: center;
}

main > ul{
   justify-content: center;
   text-align: center;

}

main > ul li {
    width: 100%;
    padding: 10, 10, 10, 10;
    background-color: var(--flame);
    font-size: 30px;
    color: var(--dark);
    border: var(--dark);
    border-style: solid;
     font-family: var(--text);
}
main > ul li:hover {
    background-color: orange;

}

.question {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 40em;
    align-items: center;
    text-align: center;
    color: var(--flame);
    margin-bottom: 32px;
    font-family: var(--text);
   
}

.answers {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--dark);
    height: 40em;
    width: 100%;
    align-items: center;
    text-align: center;
    color: var(--flame);
    font-family: var(--text);
    margin-bottom: 32px;

}
#highscore-form {
    display: none;
    font-family: var(--text);
    color: var(--flame);
    align-items: center;
    text-align:center;

}
#name-button{
    display: flex;
    background: radial-gradient(var(--light)) 5%, var(--flame) 95%;
    border-radius: 4px;
    color: var(--flame);
    cursor: pointer;
    font-size: 16px;
    max-width: 80px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.10s;
    transition-property: background-color;
    transition-timing-function: linear;
}

#reset{
    display: flex;
    background: radial-gradient(var(--light)) 5%, var(--flame) 95%;
    border-radius: 4px;
    color: var(--flame);
    cursor: pointer;
    font-size: 16px;
    max-width: 80px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.10s;
    transition-property: background-color;
    transition-timing-function: linear;
}

#scoreboard {
    display: block;
    justify-content: center;
    font-family: var(--text);
    color: (--flame)

}

#list {
    display: block;
    text-align: center;
    font-family: var(--text);
    color: (--flame);
    font-size: 20px; 
 
}

footer{
    display:flex;
    padding: 5px;
    font-family: var(--text);
    background-color: var(--dark);
    color: var(--flame);
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;

}