* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

:root {
    --light: whitesmoke;
    --text:'Times New Roman', Times, serif; 
    --dark: rgb(32, 31, 31);
    --flame: red;
}

header{
    display:flex;
    padding: 20px;
    font-family: var(--text);
    background-color: var(--dark);
    color: var(--light);
    justify-content: space-between;
    font-size: 40px;
}

header h1 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

#timer {
    display: none;
    font-size: 40px;
    color: var(--flame);
}


.hero {
    display:flex;
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    background-image: url("./Flames.jpg");
    background-size: cover;
    background-position: center;
}

#startpage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.path button {
    background: radial-gradient(var(--light)) 5%, var(--flame) 95%;
    border-radius: 4px;
    color: var(--flame);
    cursor: pointer;
    font-size: 40px;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.10s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.path {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--dark);
    height: 40em;
    width: 100%;
    align-items: center;
}

.path h2 {
    text-align: center;
    color: var(--flame);
    margin-bottom: 32px;
}

#questionbox {
    display: flex;
    background-color: var(--dark);
    height: 40em;
    width: 100%;
    align-items: center;
    color: var(--flame);
    text-align: center;
    justify-content: center;
}

#questionHeader {
    display:flex;
    text-align: center;
    color: var(--flame);
    font-size: 40px;
}

#options {
    display:flex;
    text-align: center;
    color: var(--flame);
    font-size: 25px;
}

.question {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 40em;
    align-items: center;
    text-align: center;
    color: var(--flame);
    margin-bottom: 32px;
    font-family: 'Times New Roman', Times, serif
}
.quest { 
    display: none;
    background: radial-gradient(var(--light)) 5%, var(--flame) 95%;
    border-radius: 4px;
    color: var(--flame);
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.10s;
    transition-property: background-color;
    transition-timing-function: linear;
    justify-content: center;
    width: 25%;

}

.answers {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--dark);
    height: 40em;
    width: 100%;
    align-items: center;
    text-align: center;
    color: var(--flame);
    margin-bottom: 32px;

}
.highscore {
    display: none;
}

.reset {
    display: none;
}